*{
    box-sizing: border-box;
}

.box{
    display: grid;
    grid-template-columns: repeat(3, fr);
    gap: 10px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    background-color: lightblue;
    padding: 1em;
    color: brown;
}

.box > div{
    border: 2px solid red;
    border-radius: 5px;
    padding: 1em;
}