.section01{
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/e54a23b9-5f4f-4218-ba09-8e62ba01f9cc/BR-pt-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_f47ff160-2a29-4b8f-849f-20fecdea9010_large.jpg");
}

.imgLogo{
    width: 15%;
}

@media (max-width: 800px) {
    .imgLogo{
        width: 35%;
    }
}

.btnEntrar{
    background-color: red;
    transition: 0.3s ease;
}


.btnEntrar:hover{
    background-color: rgb(255, 0, 0, 0.8);
}

.btnVamosLa{
    background-color: red;
    transition: 0.3s ease;
}

.btnVamosLa:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.8);
}

.gradient{
    background: radial-gradient(circle, rgb(114, 18, 51) 20%, rgb(8, 21, 73) 50%, rgb(0, 0, 0, 0.8) 70%);
}

.imgGradient{
    width: 5%;
    height: 5%;
}


/* .header{
    display: flex;
    justify-content: center;
    gap: 50%;
    
}

.imgLogo{
    width: 15%;
    padding-top: 2%;
}

.btnTopo{
    padding-top: 2%;
    display: flex;
    align-items: center;
}

.btnTopo button{
    font-size: 0.9rem;
   margin-left: 50%;
   background-color: red;
   border: none;
   border-radius: 5px 5px 5px;
   padding-top: 20%;
   padding-bottom: 20%;
   padding-left: 30%;
   padding-right: 30%;
   color: white;
   transition: 0.3s ease;
}

.btnTopo button:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0 , 0.8);
}

.btnTopo select{
    background-color: black;
    border: none;
    color: white;
    padding: 1%;
}

.select{
    padding: 5%;
    border: 1px solid grey;
    border-radius: 5px 5px 5px;
    width: max-content;
    display: flex;
    background-color: black;
    color: white;
}

.select select:hover{
    cursor: pointer;
}


.textoPrincipalSection01{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 5%;
    text-align: center;
}

.textoPrincipalSection01 h1{
    font-weight: 900;
    font-size: 2rem;
}

.textoPrincipalSection01 h4{
    padding-top: 1%;
    font-size: 1.2rem;
    font-weight: 300;
}

.textoPrincipalSection01 h5{
    padding-top: 1%;
    font-size: 1.2rem;
    font-weight: 300;
}

.textoPrincipalSection01 input{
    margin-top: 1%;
    margin-bottom: 5%;
    border: 1px solid grey;
    border-radius: 5px 5px 5px ;
    color: aqua;
    width: 20%;
    padding: 1%;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.textoPrincipalSection01 button{
    padding: 1%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px 5px 5px;
    font-size: 1rem;
    transition: 0.3s ease;
}

.textoPrincipalSection01 button:hover{
    background-color: rgb(255, 0, 0, 0.8);
    cursor: pointer;
}

.svg{
    width: 10px;
    transform: scale(2.0);
    color: white;
}

.sectionGradient{
    background-image: radial-gradient(circle, rgb(114, 18, 51) 20%, rgb(8, 21, 73) 50%, rgb(0, 0, 0, 0.8) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: white;
}

.sectionGradient img{
    padding: 1%;
    width: 5%;
    height: 5%;
}

.sectionGradient p{
   padding-bottom: 2%;
}

.tituloPlanoPadrao{
    font-size: 1.5rem;
    font-weight: 550;
}

.LinkPlanoPadrao{
    color: rgb(105, 105, 255);
    text-decoration: underline;
}

.LinkPlanoPadrao:hover{
    cursor: pointer;
}

.LinkPlanoPadrao svg{
    color: rgb(105, 105, 255);
    padding-left: 1%;
} */